
@{
    ViewBag.Title = "Register";
}

<div style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
    <h2 style="text-align: center;font-family: sans-serif; padding-top:50px;">Register</h2>
    @using (Html.BeginForm("OTPModule", "Register"))
    {
        <div class="row" style="text-align: center; margin-top: 50px;">
            <div class="col-md-6" style="text-align: right;font-family: sans-serif;">
                Enter your phone number:
            </div>
            <div class="col-md-6" style="text-align: left">
                <input id="mobNo" style="width: 40%;" maxlength="10" type="number" name="mobNo" min="1000000000" max="9999999999" oninvalid="this.setCustomValidity('Please enter a valid mobile number without the country code!')"
                       oninput="setCustomValidity('')" required />
            </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 50px; padding-bottom:50px;">

            <div class="col-md-12">
                <input type="submit" class="buttonStyle" value="Send OTP" />
            </div>
        </div>
    }
</div>