@{
    ViewBag.Title = "Home Page";
}
<style>

</style>
<div class="jumbotron" style="text-align: right;background:url(/Images/doctor3.jpg) no-repeat center fixed; height:60%; background-size:cover; color:black;">
    <div style="margin-top: 8%;margin-bottom: 4%;">
        <h2>Redemption Group of Hospitals</h2>
        <p class="lead">We care for you.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <p><button class="buttonStyle" onclick="location.href ='@Url.Action("Register", "Register")'">Book an appointment +</button></p>
    </div>
</div>