@{
    ViewBag.Title = "Home Page";
}
<style>

</style>
<div class="jumbotron" style="text-align: center;">
    <h2>Redemption Group of Hospitals</h2>
    <p class="lead">We offer the best healthcare services.</p>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <p><button class="buttonStyle" onclick="location.href ='@Url.Action("Register", "Register")'">Book an appointment +</button></p>
    </div>
</div>